@import '../../styles/variables';

.logo {
    text-align: right;
    background: $vLightBlue;
    border-bottom: 1px solid $vLightBlack;
    padding: $k-common-intent-small;
    padding-left: $paddingLeftWithMenu;
}