<div class="container form register">
    <div class='form__element form__element-register'>
        <label class='form__element_description form__element_description-register'>Никнейм:</label>
        <input 
            class='form__element_data form__element_data-register'
            type='text'
            (input)='NicknameInput($event)' />
        <label class='form__element_error form__element_error-register'></label>
    </div>

    <div class='form__element form__element-register'>
        <label class='form__element_description form__element_description-register'>Пароль:</label>
        <input 
            class='form__element_data form__element_data-register'
            type='password'
            (input)='passwordInput($event)' />
        <label class='form__element_error form__element_error-register'></label>
    </div>

    <div class='form__element form__element-register'>
        <label class='form__element_description form__element_description-register'>Повторите пароль:</label>
        <input 
            class='form__element_data form__element_data-register'
            type='password'
            [value]='passwordCheck'
            (input)='passwordInputCheck($event)' />
        <label class='form__element_error form__element_error-register'>
            {{ errorMessage[passwordError] }}
        </label>
    </div>
  
    <div class='form__element'>
      <button class='form__element_button form__element_button-reset form__element_button-reset-register'>
        Очистить
      </button>
      <button 
        class='form__element_button form__element_button-apply form__element_button-apply-register'
        (click)="onRegister()">
          Зарегистрироваться
        </button>
    </div>
</div>

<shared-users></shared-users>
