@import "~shared/styles/variables.scss";

.chess-register-form {

    margin-top: $k-card-intent-root-medium;

    &__inputs {
        display: flex;
        flex-direction: column;
    
        & > * {
            width: 100%;
        }
    }
    
    &__controls {
        display: flex;
        justify-content: flex-end;
        
        & > button {
            margin: $k-xs-small-size;
        }
    }
  }