/*
    Size
*/
$bigSize: 2rem;
$mediumSize: 1.5rem;
$standartSize: 1rem;
$smallSize: 0.5rem;

/*
    Indents
*/
$marginLeftMedium: $mediumSize;
$marginTopMedium: $mediumSize;
$marginBottomMedium: $mediumSize;
$marginRightMedium: $mediumSize;
$marginMedium: $marginLeftMedium $marginTopMedium $marginBottomMedium $marginRightMedium;

$paddingLeft: $mediumSize;
$paddingTop: $mediumSize;
$paddingBottom: $mediumSize;
$paddingRight: $mediumSize;
$paddingMedium:  $paddingLeft $paddingTop $paddingBottom $paddingRight;

$commonMargin: 5px;
$commonPadding: 5px;

$borderRadiusSmall: 2px;
$borderRadiusMedium: 5px;

/*
    Menu
*/
$menuWidth: 60px;
$navExpanded: 175px;
$paddingLeftWithMenu: calc(#{$paddingLeft} + #{$menuWidth});


/*
    Color
*/
$vLightBlue: #fbfbfb;
$vLightBlack: #e5e5e5;

