/*
    Func
*/
@function size($curr, $increase) {
    @return calc(#{$curr} * #{$increase});
}


/*
    Size
*/
$bigSize: 2rem;
$mediumSize: 1.5rem;
$standartSize: 1rem;
$smallSize: 0.5rem;

/*
    Indents
*/
$marginMedium: $mediumSize;
$paddingMedium:  $mediumSize;

$commonMargin: 5px;
$commonPadding: 5px;
$commonPaddingMedium: calc(#{$commonPadding} * 1.5);
$commonPaddingLarge: calc(#{$commonPaddingMedium} * 1.5);

/*
    Menu
*/
$menuWidth: 60px;
$navExpanded: 175px;
$paddingLeftWithMenu: calc(#{$paddingMedium} + #{$menuWidth});


/*
    Color
*/
$vWhite: #ffffff;
$vLightBlue: #fbfbfb;
$vLightBlack: #e5e5e5;
$colGray: #999;
$colBlack: #000000;

/*
    Speed
*/
$fastSpeed: 0.2s;
$mediumSpeed: calc(#{$fastSpeed} * 2);


/*
    Border
*/
$smallLine: 1px;
$mediumLine: size($smallLine, 2);
$largeLine: size($mediumLine, 2);
$borderRadiusSmall: 2px;
$borderRadiusMedium: calc(#{$borderRadiusSmall} * 2);
$borderRadiusLarge: calc(#{$borderRadiusMedium} * 2);
