@import './shared/styles/reset.scss';
@import './shared/styles/variables.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list-block { 
  list-style-type: decimal-leading-zero;
  font-style: italic;
  font-family: Georgia, Times, serif;
}
.list-block li {
  padding: $k-common-intent-small;
}
.list-block p { 
  padding: $k-common-intent-small;
  font-style: normal; 
  font-family: Arial; 
  font-size: $k-standart-size;
  border-left: $borderRadiusSmall solid $colGray;
  transition: $mediumSpeed;

  &:hover {
    border-color: $vLightBlue;
  }
}
.list-block p em { 
  display: block; 
}

.bold {
  font-weight: bold;
}
